<!doctype html>
<html lang="en">
  <head>
    <title>Heatmaps User Study</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }

        setTimeout("preventBack()", 0);

        window.onunload = function () { null };
    </script>
  </head>

  <body>
    <div align="center">
      <table width="640" border="0" align="center" cellpadding="10" cellspacing="10">
        <tr>
          <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="4" height="480">
            <p class="h1 text-center">
              </br>
              </br>
              </br>
              </br>
              </br>
              The test is over!
            </p>
            <p class="h5 text-muted text-center">
              </br>
              </br>
              Redirect to Prolific clicking on the button to mark the </br>
              survey as completed and be able to get paid.   </br> </br>
            </p>
            <p class="h5 text-center">
              </br>
              </br>
              Thanks for your time!                                   </br>
              </br>
              </br>
              <div align="center">
                <a href="http://programminghead.com">
                <button type="submit" name="Next-button" class="btn btn-primary"> Redirect to Prolific </button>
                </a>
              </div>

              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="4">&nbsp;</td>
        </tr>
      </table>
    </div>
  </body>

</html>
